<mat-toolbar class="sticky top-0 mat-elevation-z6 z-[2]" color="primary">
  <button mat-icon-button (click)="nav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button routerLink="">RxPlay</button>
  <span class="ml-auto flex items-center">
    <a
      mat-icon-button
      href="https://github.com/RobbyRabbitman/rxp"
      target="_blank"
    >
      <mat-icon class="text-sm" svgIcon="github"></mat-icon>
    </a>
    <a mat-button href="https://rxjs.dev" target="_blank"> RxJS v7 </a>
  </span>
</mat-toolbar>
<mat-sidenav-container class="flex-1">
  <mat-sidenav
    class="w-64"
    #nav
    [mode]="(medium$ | async) ? 'over' : 'side'"
    [opened]="!(medium$ | async)"
  >
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node
        *matTreeNodeDef="let node"
        [style.paddingLeft.rem]="3 * node.level + 1"
        [routerLink]="node.path"
        routerLinkActive="active"
      >
        {{ node.label }}
      </mat-tree-node>
      <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodeToggle
        [style.paddingLeft.rem]="3 * node.level + 1"
        [style.paddingRight.rem]="1"
      >
        {{ node.label }}
        <mat-icon class="mat-icon-rtl-mirror ml-auto">
          {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </mat-tree-node>
    </mat-tree>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content select="[slot=content]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
