<ng-container *ngIf="vm$ | async as vm">
  <h1 class="!mb-0 !text-4xl">{{ vm.operator }}</h1>
  <section class="flex flex-col gap-8">
    <h2 class="!mb-0 !text-xl">Examples</h2>
    <app-ui-operator-showcase
      *ngFor="let showCase of vm.showCases"
      [value]="showCase"
    ></app-ui-operator-showcase>
  </section>
  <section class="flex flex-col gap-8">
    <h2 class="!mb-0 !text-xl">Additional Resources</h2>
    <app-rxjs-src-link
      class="self-start"
      [matTooltip]="vm.rxjsSrcTooltip"
      [path]="vm.rxjsSrc"
    >
    </app-rxjs-src-link>
    <app-learn-rxjs-link
      class="self-start"
      [matTooltip]="vm.learnRxjsPathTooltip"
      [path]="vm.learnRxjsPath"
    >
    </app-learn-rxjs-link>
  </section>
</ng-container>
