@use "@angular/material" as mat;
@import "../../../../styles";
//@import "styles"; TODO doesnt work after v14 -> v15 uff

app-ui-marble-graph {
  @apply block h-16;

  .marble {
    .mat-slider-thumb {
      @apply flex items-center border-none justify-center h-14 w-14 -right-7 -bottom-7 text-2xl z-20 #{!important};
      background-color: mat.get-color-from-palette($primary) !important;
      color: mat.get-color-from-palette($primary, default-contrast) !important;
    }

    .marble-error {
      @apply rounded-none #{!important};
      background-color: mat.get-color-from-palette($warn) !important;
      color: mat.get-color-from-palette($warn, default-contrast) !important;
    }
  }

  .end {
    .mat-slider-thumb-container {
      @apply transition-none;
    }
    .mat-slider-thumb {
      @apply h-16 w-1 -bottom-8 -right-[0.125rem] rounded-none transform-none #{!important};
      background-color: mat.get-color-from-palette(
        $foreground,
        text
      ) !important;
      border: none;
    }
  }

  .hide-slider-track {
    .mat-slider-track-wrapper {
      @apply hidden;
    }
  }

  .mat-divider {
    background-color: mat.get-color-from-palette($foreground, text) !important;
  }

  .mat-icon {
    transform: scale(2);
    color: mat.get-color-from-palette($foreground, text) !important;
  }

  .mat-slider-disabled .mat-slider-thumb {
    transform: scale(0.7);
  }
}
