<div
  *ngIf="value"
  class="relative h-full flex flex-col items-stretch justify-center"
>
  <div
    *ngIf="form.controls.end.value != null"
    class="!absolute top-0 right-8 bottom-0 left-8 flex items-center"
  >
    <mat-slider
      class="end w-full hide-slider-track"
      [value]="form.controls.end.value"
      [min]="min"
      [max]="max"
      [disabled]="disabled"
      (input)="form.controls.end.setValue($any($event.value))"
    ></mat-slider>
  </div>
  <div
    class="!absolute top-0 right-8 bottom-0 left-8 flex items-center"
    *ngFor="let control of form.controls.marbles.controls"
  >
    <mat-slider
      class="marble w-full hide-slider-track"
      [appUiMarble]="control.value"
      [value]="control.value.time"
      [min]="min"
      [max]="max"
      [disabled]="disabled"
      (input)="_onInputChange(control, $event)"
      [appUiMarbleGraphStack]="[control.value, value]"
    ></mat-slider>
  </div>
  <div class="!absolute top-0 right-0 bottom-0 left-0 flex items-center">
    <mat-divider class="w-full !border-t-4"> </mat-divider>
    <mat-icon class="!absolute -right-2">arrow_right</mat-icon>
  </div>
</div>
